.blog-card {
  border: 1px solid black;
  margin: 1rem 0;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

body {
  padding: 1rem;
}

.new-blog-button {
  text-decoration: none;
  color: black;
}
