.content-container {
  border: 2px solid;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  border-image-slice: 1;
  border-image: linear-gradient(
    90deg,
    rgba(207, 44, 249, 0.5) 12%,
    rgba(22, 233, 172, 0.5) 75%
  );
}


@media screen and (min-width: 768px) {
  .content-container {
    width: 50%;
  }

  .content {
    width: 100%;
  }

  h1{
    font-size: 5rem;
  }
  
}